<style>
    div.teste {
        background-color: aquamarine;
        width: 500px;
        height: 500px;
        margin: auto;
        position: relative;
    }
</style>

<div class="teste">
    <p>
        aqui está seu codigo meu consagrado: {{codigo}}
    </p>

</div>

<img src="https://i.pinimg.com/originals/ab/85/1e/ab851e94e660659a0fb18fc5d46ed933.jpg">